
h1{
	color:red;
}
h3{
    color:brown;
}

.h2 {
    color: green;
    font-family: sans-serif
}

.Name {
    font-family: sans-serif;
}

.insta {
    height: 70px;
    width: 70px;
}



